 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }

 body {
   background: #f2f5f7;
   display: flex;
   justify-content: center;
   padding: 30px;
 }

 .container {
   width: 850px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 }

 header {
   background: #0078ff;
   color: #fff;
   padding: 35px;
   text-align: center;
 }

 header h1 {
   font-size: 36px;
   letter-spacing: 1px;
 }

 .sub-title {
   font-size: 18px;
   margin-top: 5px;
   font-weight: 300;
 }

 .section {
   padding: 25px 35px;
   border-bottom: 1px solid #e1e1e1;
 }

 .section:last-child {
   border-bottom: none;
 }

 h2 {
   color: #0078ff;
   margin-bottom: 12px;
   text-transform: uppercase;
   font-size: 22px;
 }

 p,
 li,
 a {
   font-size: 16px;
   color: #333;
   line-height: 1.6;
 }

 ul {
   padding-left: 20px;
 }

 .skills span {
   display: inline-block;
   background: #0078ff;
   color: #fff;
   padding: 7px 12px;
   border-radius: 5px;
   margin: 4px 5px;
   font-size: 14px;
 }